{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key" : {
        "contentId" : { "S" : "${ctx.args.input.contentId}" },
        "reporterId" : { "S" : "${ctx.args.input.reporterId}" }
    }
}