{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key" : {
        "messageDate" : { "S" : "${ctx.args.input.messageDate}" },
        "threadId" : { "S" : "${ctx.args.input.threadId}" }
    }
}