#if( $ctx.args.input.commentorId != $ctx.identity.username )
	$util.unauthorized()
#end

{
    "version" : "2017-02-28",
    "operation": "Invoke",
    "payload": $util.toJson($context.arguments.input)
}