{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key" : {
        "receiverId" : { "S" : "${ctx.args.receiverId}" },
        "receivedDate" : { "S" : "${ctx.args.receivedDate}" }
    }
}