{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "bounzerId": $util.dynamodb.toDynamoDBJson($ctx.args.bounzerId),
        "postId": $util.dynamodb.toDynamoDBJson($ctx.args.postId)
    }
}