{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "courtId": $util.dynamodb.toDynamoDBJson($ctx.args.courtId),
        "memberId": $util.dynamodb.toDynamoDBJson($ctx.args.memberId)
    }
}