{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "messageDate": $util.dynamodb.toDynamoDBJson($ctx.args.messageDate),
        "threadId": $util.dynamodb.toDynamoDBJson($ctx.args.threadId)
    }
}