{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "creatorId": $util.dynamodb.toDynamoDBJson($ctx.args.creatorId),
        "postedDate": $util.dynamodb.toDynamoDBJson($ctx.args.postedDate)
    }
}