#if($ctx.identity.username != $ctx.args.ignorerId)
	$util.unauthorized()
#end

{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "ignorerId": $util.dynamodb.toDynamoDBJson($ctx.args.ignorerId),
        "courtId": $util.dynamodb.toDynamoDBJson($ctx.args.courtId)
    }
}