{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "postId = :id",
        "expressionValues" : {
            ":id" : {
                "S" : "${ctx.args.postId}"
            }
        }
    },
    "index" : "postId-index",
    "scanIndexForward" : false,
    "limit": $util.defaultIfNull(${ctx.args.limit}, 20),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.nextToken, null))
}