[
    #foreach($entry in $context.result.suggest.suggester[0].options)
        ## $velocityCount starts at 1 and increments with the #foreach loop **
        #if( $velocityCount > 1 ) , #end
        #set( $source = $entry.get("_source") )
        $util.toJson({
        	"name": $source.name,
            "courtId": $entry.get("_id")
        })
    #end
]